<h2>Calculators</h2>

<%= form_for(@calculator) do |f| %>
  <%= f.submit 'New Calculator' %>
<% end %>

<table>
  <thead>
    <tr>
      <td>Calculator id</td>
      <td>Previous calculation</td>
      <td>Previous answer</td>
      <td>Memory</td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'calculator', collection: @calculators %>
  </tbody>