<h2>Calculators</h2>

<% if flash[:success].present? %>
  <div class="success-message">
    <%= flash[:success] %>
  </div>
<% end %>

<%= form_for(@calculator) do |f| %>
  <%= f.submit 'New Calculator' %>
<% end %>

<table class="calculator-list">
  <thead>
    <tr>
      <th>Calculator id</th>
      <th>Previous calculation</th>
      <th>Previous answer</th>
      <th>Memory</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'calculator', collection: @calculators %>
  </tbody>