// Fonts
$heading-font: 'Poppins', sans-serif;
$calculator-display-font: 'Roboto Mono', monospace;
$body-font: 'Noto Sans', sans-serif;

h2 {
  font-family: $heading-font;
}

body {
  font-family: $body-font;
}

.instruction {
  display: none;
}

.new_basic_calculator {
  margin-bottom: 20px;
}

.calculator-list {
  border: 1px solid black;

  th, td {
    border-bottom: 1px solid black;
  }
}

.errors {
  color: red;
}

.success-message {
  color: green;
  margin-bottom: 20px;
}

.calculator {
  background-color: gray;
  padding: 20px;
  border-radius: 5px;
  max-width: 320px;

  .answer {
    p {
      font-family: $calculator-display-font;
      font-size: 2em;
      text-align: right;
    }
  }

  input[type=text] {
    font-size: 1.5em;
    border-radius: 2px;
    margin: 5px;
    width: 300px;
  }

  .calculate,
  .clear {
    font-size: 1em;
    border-radius: 2px;
    margin: 5px;
  }

  .calculator-button,
  .memory-button {
    margin: 5px;
    font-size: 2em;
    border-radius: 2px;
  }
}

.back-links {
  margin-top: 30px;
}